.floating-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  border-radius: 50%;
  padding: 10px;
  z-index: 999;
}

.floating-whatsapp:hover {
  box-shadow: 0 0 0 4px rgba(255, 212, 0, 0.25); /* halo amarillo sutil */
}

.floating-whatsapp img {
  width: 30px;
  height: 30px;
}
